<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table summary="Post fields">
      <tr>
        <th><%= f.label(:title, "Title") %></th>
        <td><%= f.text_field(:title, :size => 50, :style => "font-size: 1.5em;") %></td>
      </tr>
      <tr>
        <th><%= f.label(:content) %></th>
        <td><%= f.text_area(:content, :cols => 70, :rows => 20, :style => "font-size: 1.1em;") %></td>
      </tr>
      <tr>
        <th><%= f.label(:author_id) %></th>
        <td><%= f.select(:author_id, @user_list) %></td>
      </tr>
      <tr>
        <th><%= f.label(:status) %></th>
        <td><%= f.select(:status, ['draft', 'published']) %></td>
      </tr>
      <tr>
        <th><%= f.label(:created_at, "Created") %></th>
        <td><%= f.datetime_select(:created_at, :order => [:month, :day, :year], :start_year => 2008, :end_year => Time.now.next_year.year) %></td>
      </tr>
    </table>

  <div class="actions">
    <%= if @action == 'show' then  else f.submit end %>
  </div>
<% end %>
